{% extends 'layouts/layout.html.twig' %}


{% block content %}

    <section class="page-section review-page spad">
        <div class="container">
            <h2 class="section-title">Liste des champions</h2>
            <div style="text-align: center; margin-top:-50px;margin-bottom:30px" class="search-widget justify-content-center text-center add-position">
                <label>
                    <input style="width:400px;border-color:#ffb320;border-width: 3px;border-style: solid" class="form-control mr-sm-2 justify-content-center text-center" type="text"
                           placeholder="Sur quel champion veux-tu des infos ?">
                </label>
            </div>
            <ul class="game-filter section-ul">
                <li><a href="{{ url('showByLetter', {letter: 'A'}) }}">A</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'B'}) }}">B</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'C'}) }}">C</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'D'}) }}">D</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'E'}) }}">E</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'F'}) }}">F</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'G'}) }}">G</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'H'}) }}">H</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'I'}) }}">I</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'J'}) }}">J</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'K'}) }}">K</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'L'}) }}">L</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'M'}) }}">M</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'N'}) }}">N</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'O'}) }}">O</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'P'}) }}">P</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'Q'}) }}">Q</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'R'}) }}">R</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'S'}) }}">S</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'T'}) }}">T</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'U'}) }}">U</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'V'}) }}">V</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'W'}) }}">W</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'X'}) }}">X</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'Y'}) }}">Y</a></li>
                <li><a href="{{ url('showByLetter', {letter: 'Z'}) }}">Z</a></li>
            </ul>

            <div class="row">
            {% for champion in champions %}
                <div style="margin-bottom:30px" class="col-md-4">

                        <div class="review-item border">

                            <div class="review-cover set-bg">
                               <a href="{{ url('singleChampion', {slug:champion.slug}) }}"><img  style="height:100%;width:100%" src="{{ asset(champion.image) }}" alt="bogoss"></a>
                                <a class="score yellow" href="{{ url('showByRole',{name:champion.role}) }}">{{ champion.role }}</a>
                            </div>

                            <div class="review-text">
                                <h4><a href="{{ url('singleChampion', {slug:champion.slug}) }}">{{ champion.nom }}</a></h4>
                                <div class="rating">
                                    <p>difficulté</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star is-fade"></i>
                                    <p>{{ champion.type }}</p>
                                </div>
                                <p>{{ champion.presentation }}</p>
                            </div>
                        </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </section>




{% endblock content %}
