{% extends 'layouts/layout.html.twig' %}
{% block content %}



<section class="page-section spad contact-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="comment-title">Nous contacter</h4>
                <p>N'hésitez pas à nous envoyer un message si vous avez une question ou si vous avez un problème avec le site !</p>
                <div class="row">
                    <div class="col-md-9">
                        <ul class="contact-info-list">
                            <li><div class="cf-left">Adresse</div><div class="cf-right">Rue des potier numéro 3</div></li>
                            <li><div class="cf-left">Téléphone</div><div class="cf-right">+324789521</div></li>
                            <li><div class="cf-left">E-mail</div><div class="cf-right">MasterPotier@gmail.com</div></li>
                        </ul>
                    </div>
                </div>
                <div class="social-links">
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div><br>
            <div class="col-lg-8">
                <div class="contact-form-warp">

                    {{form_start(contactForm)}}
                        <div style="margin-bottom: 150px" class="row">


                            <div class="col-md-6">
                                {{ form_row(contactForm.nom) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(contactForm.email) }}
                            </div>
                            <div class="col-lg-12">
                                {{ form_row(contactForm.sujet) }}
                                {{ form_row(contactForm.message) }}
                                {{ form_row(contactForm.submit) }}
                                {{ form_rest(contactForm) }}
                            </div>

                        </div>
                    {{form_end(contactForm) }}
                </div>
            </div>
        </div>
    </div>
</section>




{% endblock content %}
