{% extends 'layouts/layout.html.twig' %}


{% block content %}
<!-- Header section end -->

<!-- Hero section -->



    <section class="recent-game-section spad bg-grey">
        <div class="container">
            <h2 class="section-title">Sur quel champion veux-tu des infos ?</h2>
            <div style="height:30px"></div>
            <div style="text-align: center;margin-bottom:30px" class="search-widget justify-content-center text-center add-position">
                {{ form_start(searchForm) }}

                {{ form_row(searchForm.keyword) }}

                {{ form_row(searchForm.submit) }}

                {{ form_end(searchForm) }}
            </div>
            <div style="height:50px"></div>
            <div class="section-title">
                <div style="margin-bottom: 50px;" class="cata new">Derniers champions ajoutés </div>

                <div class="row">
                    {% for champion in champions %}
                        <div class="col-md-4">

                            <div style="background-color:#fff" class="review-item border">

                                <div class="review-cover set-bg">
                                    <a href="{{ url('singleChampion', {slug:champion.slug}) }}"><img  style="height:100%;width:100%" src="{{ asset(champion.image) }}" alt="bogoss"></a>
                                    <a class="score yellow" href="{{ url('showByRole',{name:champion.role}) }}">{{ champion.role }}</a>
                                </div>

                                <div class="review-text">
                                    <h4><a href="{{ url('singleChampion', {slug:champion.slug}) }}">{{ champion.nom }}</a></h4>
                                    <div class="rating">
                                        <p>difficulté</p>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star is-fade"></i>
                                        <p>{{ champion.type }}</p>
                                    </div>
                                    <p>{{ champion.date|date("m/d/Y") }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}


