{% extends 'layouts/layout.html.twig' %}


{% block content %}

    <section class="footer-top-section">
        <div class="container">
            <div class="footer-top-bg">


            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-logo text-white">
                        <img style="width:400px;height:430px" class="latest-blog" src="{{ asset(champion.image) }}" alt="">

                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget mb-5 mb-md-0">
                        <h4 class="fw-title">Caractéristiques</h4>
                        <div class="latest-blog">
                            <div class="lb-item">
                                <div class="lb-content">
                                    <div class="lb-date">Nom du champion</div>
                                    <p>{{ champion.nom }}</p>

                                </div>
                            </div>
                            <div class="lb-item">
                                <div class="lb-content">
                                    <div class="lb-date">Rôle du champion</div>
                                    <p>{{ champion.role }}</p>

                                </div>
                            </div>
                            <div class="lb-item">
                                <div class="lb-content">
                                    <div class="lb-date">Type du champion</div>
                                    <p>{{ champion.type }}</p>

                                </div>
                            </div>
                            <div class="lb-item">
                                <div class="lb-content">
                                    <div class="lb-date">Date de sortie du champion</div>
                                    <p>{{ champion.date|date("m/d/Y") }}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget mb-5 mb-md-0">
                        <h4 class="fw-title">Histoire</h4>
                        <div class="latest-blog">
                            <div class="lb-content">
                                <p style="text-align:inherit;color:#d3d3d3; letter-spacing: inherit">{{ champion.histoire }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div style="margin-top:30px" class="footer-widget">
                        <h4 class="fw-title">Compétences</h4>
                        <div  class="row">
                        {% for competence in champion.competences %}
                            <div class="col-lg-3 col-md-3">
                                <div  class="top-comment">
                                    <div class="tc-item">
                                        <div class="tc-thumb set-bg" data-setbg="{{ asset(competence.image) }}"></div>
                                        <div class="tc-content">
                                            <div class="tc-date">{{ competence.nom }}</div>
                                            <p>{{ competence.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="page-section community-page set-bg" data-setbg="img/community-bg.jpg">
        <div class="community-warp spad">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="community-top-title">Commentaires</h3>
                    </div>
                    <div class="col-md-6 text-lg-right">
                        <form class="community-filter">
                            <label for="fdf5">Show</label>
                            <select id="fdf5">
                                <option value="#">Plus récents</option>
                                <option value="#">Moins récents</option>
                            </select>
                        </form>
                    </div>
                </div>
                <ul class="community-post-list">
                {#    {% for message in champion.messages %}
                    <li>
                        <div class="community-post">
                            <div class="author-avator set-bg" data-setbg="{{ asset('assets/img/authors/7.jpg') }}"></div>
                            <div class="post-content">
                                <h5>Maria Doe<span>posted an update</span></h5>
                                <div class="post-date">{{message.date}}</div>
                                <p>{{ message.contenu }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                #}

                </ul>

                <div class="site-pagination">
                    <span class="active">01.</span>
                </div>
            </div>
            <div class="row justify-content-center comment">

                <div class="text-center">
                   <h4 class="comment-title">Ajouter un commentaire</h4>
               {#     {{ form_start(messageForm) }}

                        <label>
                            {{ form_row(messageForm.contenu) }}
                        </label><br>
                        {{ form_row(messageForm.submit) }}

                    {{ form_end(messageForm) }}
                    #}
                </div>

            </div>

        </div>

    </section>



{% endblock content %}
